/build/
logs/*
!logs/.gitignore
.venv/
.cache/
__pycache__/
*.egg-info/
*.pyc
*.a
*.so
*.so.*
libs/**/include/
cartridges/**/posix/
cartridges/**/web/
hosts/**/posix/
hosts/**/web/
tests/fixtures/*/posix/
tests/fixtures/*/web/
cartridges/*/*/cache/*
cartridges/*/*/*/cache/*
cartridges/*
!cartridges/.tutorials/
!cartridges/.core/
!cartridges/.templates/
!cartridges/.test/
!cartridges/build.sh
hosts/*
!hosts/.templates/
!hosts/.test/
!hosts/build.sh
!hosts/builds.yaml
configs/launcher.yaml
tests/_sandbox/
